services:
  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pg_data_test:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 3s
      retries: 2
  subscribe-be:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: subscribe-be
    ports:
      - "${HTTP_PORT}:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
volumes:
  pg_data_test:
